@charset "utf-8";

html {
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: grey;
  color: black;
  margin: 0;
  padding: 0;
}

.header {
  width: 1440px;
  height: 80px;
  margin: 0 auto;
  position:fixed;
  background-color: white;
}

.logo {
  float: left;
}

.taiseilogo {
  margin-left: 100px;
  padding-top: 15px;
}

.nav1 {
  margin-right: 200px;
}

.nav1 li {
  float: right;
  list-style: none;
  padding-right: 100px;
  padding-top: 25px;
}

.nav1 li a {
  color: black;
}

.logo a:hover {
  border-bottom: 2px solid white;
  text-decoration: none;
}

.nav1 li a:hover {
  border-bottom: 2px solid white;
  text-decoration: none;
}

.main {
  width: 1440px;
  height: 450px;
  background-color: white;
  text-align: center;
}

.main img {
  padding-top: 230px;
  padding-left: 80px;
  text-align: center;
}

.main2 {
  width: 1440px;
  height: 600px;
  background-color: white;
  text-align: center;
  margin-top: -27px;
}

.main2 h1 {
  font-size: 40px;
  padding-top: 60px;
}

.main2 img {
  float: left;
  margin-left: 420px;
}

.main2text {
  float: right;
  margin-right: 520px;
  text-align: left;
  margin-top: 30px;
}

.main2text h2 {
  font-size: 30px;
}

.main2text h4 {
  font-size: 18px;
}

.main2text p {
  font-size: 16px;
}

.main3 {
  width: 1440px;
  height: 600px;
  background-image: url("https://github.com/taisei101/portfolio/blob/master/img/christopher-gower-m_HRfLhgABo-unsplash.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin-top: -27px;
}

.main3 h1 {
  font-size: 40px;
  padding-top: 40px;
}

.main3contents {
  display: flex;
  margin: 0 200px;
  padding-top: 20px;
}

.main3contents h2 {
  font-size: 30px;
}

.contents-item1 {
  margin-right: 50px;
}

.contents-item2 {
  margin-left: 50px;
}

.contents-item3 {
  padding-top: 5px;
  margin-left: 45px;
}

.main4 {
  width: 1440px;
  height: 800px;
  text-align: center;
  margin-top: -28px;
  background-image: url("/Users/ikedataisei/Creative Cloud Files/Portfolio ver2/img/scott-graham-OQMZwNd3ThU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main4 h1 {
  padding-top: 40px;
  font-size: 40px;
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: lightskyblue;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c!important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38!important
}
.main5 {
  width: 1440px;
  height: 750px;
  background-image: url("/Users/ikedataisei/Creative Cloud Files/Portfolio ver2/img/neven-krcmarek-HWbxSLvmSww-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin-bottom: -20px;
}

.main5 h1 {
  font-size: 40px;
}

.main5text {
  text-align: center;
  padding-top: 20px;
}

.form{
 height: 620px;
}

.document{
padding-top:30px;
}

input::placeholder {
 color:gray;
 font-size: 1.2em;
 font-style: italic;
 margin:0 auto;
 display:block;
 width:600px;
}

input{
 display:block;
 width:60%;
 height:50px;
 margin: 20px auto;
 border-radius: 5px;
 border:none;
}

textarea{
 width: 60%;
 display:block;
 margin: 30px auto;
 border-radius: 5px;
 border:none;
 color:gray;
 font-size:1.2em;
}

.btn {
 width: 500px;
 height:44px;
 border:1px solid honeydew;
 background-color: honeydew;
 border-radius: 25px;
 text-align: center;
 display: block;
 margin: 0 auto;
 color: black;
 text-decoration: none;
 font-size:20px;
 padding-top:8px;
 font-weight:300;
 margin-top: 80px;
}

.btn:hover {
  border-bottom-color: transparent;
  transform: translateY(0.1875em);
}

footer {
  width: 1440px;
  text-align: center;
  color: white;
  padding: 20px 0;
  background-color: lightgray;
  margin-top: 20px;
}

footer small {
  font-size: 14px;
}
